

.clearfix{
	clear: both;
}


.wordmempanel {
    min-width: 266px; 
    max-width: 600px;
    font-size:12px;
    padding: 10px;
    
    padding-bottom: 30px;
    z-index: 2147483647;
    min-height: 180px;
    position: absolute;
    background-color: #f9f5f5;
    border: 1px solid #999;
    border-radius: 10px;
    left: 29px;
    top: 32px;
    padding-top: 0px;
}

.wordmempanel .wordpaneltitlebar{
    padding-top: 10px;
}

.clearfix:after{
	display: block;
	height: 0;
	clear: both;
	content: ".";
	visibility: hidden;
}
.querypanel {
    min-width: 266px; 
    font-size:12px;
    padding: 10px;
    padding-top: 0px;
    /*background-color: wheat;*/
    padding-bottom: 30px;
    z-index: 2147483647;
    min-height: 180px;
    position: fixed;
    /*border: red solid 1.5px;*/
}

.querypanel .qptitlebar{
	padding-top:10px;
	cursor: move;
}

.querypanel #closeIcon img{
	/*background-image:url('chrome-extension://__MSG_@@extension_id__/cancel.png');*/
	content:url(chrome-extension://__MSG_@@extension_id__/cancel.png);
	width: 15px;
    height: 15px;
    float: right;
    cursor:pointer;
}
.querypanel .panelLock{
    display: none;
}

.contextLink{
	float: left;
}

.contextLink textarea{
	width:100%;
}
#queryResultCnt{
	margin-top: 10px;
}

.navtt{
    float: left;
    cursor: default;
}
.navtt span{
    cursor: pointer;
    /*font-size: 20px;*/
}

#arrow_back{
    font-size: 20px;
}


#arrow_back .md-inactive {
    color: rgba(0, 0, 0, 0.26);
}
#arrow_back .md-inactive:hover{
    /*color: rgba(0, 0, 0, 0.26);*/
}

#arrow_forward{
    font-size: 20px;   
}



.material-icons .md-20{

}

.wordactionbtn{
    width:15px;
    height: 15px;
}